.notification-container {
    /* Add custom styles for the notification container */
    position: absolute;
    top: 20%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    width: 20%; /* Ensure full width */
    height: 20px;
    padding: 7px;
    text-align: center; /* Center text inside the notification */
    background-color: #f44336;
    color: white;
    border-radius: 4px;
  }